<%- include('../partials/header') %>

<h2>๐๏ธ Danh sรกch cรกc Shop ฤรฃ tแบกo</h2>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>#</th>
      <th>Tรชn Shop</th>
      <th>Slug</th>
      <th>Chแปง shop</th>
      <th>Email</th>
      <th>File DB</th>
      <th>Truy cแบญp</th>
    </tr>
  </thead>
  <tbody>
    <% if (shops.length === 0) { %>
      <tr><td colspan="7">Chฦฐa cรณ shop nรo.</td></tr>
    <% } else { %>
      <% shops.forEach((shop, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= shop.name %></td>
          <td><%= shop.slug %></td>
          <td><%= shop.owner %></td>
          <td><%= shop.email %></td>
          <td><%= shop.dbFile %></td>
          <td><a href="/shop/<%= shop.slug %>/login" target="_blank">๐ Truy cแบญp</a></td>
        </tr>
      <% }) %>
    <% } %>
  </tbody>
</table>

<%- include('../partials/footer') %>
